/CloudLyra/target/
/CloudLyra/config/
/CloudLyra/log/
/CloudLyra/src/main/java/at/ac/tuwien/dsg/cloudlyra/test/
/CloudLyra/nb-configuration.xml
/CloudLyra/src/main/webapp/WEB-INF/config.properties


/Utils/LeastSquareRegression/target/
/Utils/Sampling/target/
/Utils/ESPERStreamProcessing/target/
/Utils/ESPERStreamProcessing/src/main/java/at/ac/tuwien/dsg/esperstreamprocessing/test/
/Utils/ESPERStreamProcessing/config/
/Utils/DataEnrichment/target/
/Utils/DataEnrichment/src/main/java/Test/
/Utils/NativeKMean/NativeKMean/build/
/Utils/NativeKMean/NativeKMean/dist/
/Utils/NativeKMean/NativeKMean/nbproject/private/
/Utils/NativeKMean/build/
/Utils/NativeKMean/dist/
/Utils/NativeKMean/nbproject/private/
/Utils/LeastSquareRegressionHD/nbproject/private/
/Utils/LeastSquareRegressionHD/dist/
/Utils/LeastSquareRegressionHD/build/
/Utils/JBPMWorkflowEngine/target/
/Utils/JBPMEngine/target/
/Utils/DataEnrichment/src/main/java/com/mkyong/app/OperateProperty.java
/Utils/DataEnrichment/src/main/webapp/WEB-INF/Configuration.properties

/Utils/DataEnrichment/src/main/java/at/ac/tuwien/dsg/app/graphstorage/OperateProperty.java
/Utils/DataEnrichment/src/main/java/com
/Utils/DataEnrichment/src/main/java/at/ac/tuwien/dsg/app/graphretrieve/MainRDFGraphManipulation.java
/Utils/DataEnrichment/nb-configuration.xml
/Utils/ESPERStreamProcessing/nb-configuration.xml
/Utils/JBPMEngine/nb-configuration.xml
/Utils/Sampling/nb-configuration.xml
/Utils/DataEnrichment/src/main/java/com/mkyoung/datamodel 
/Utils/ESPERStreamProcessing/src/main/webapp/WEB-INF/config.properties

